.form{
    width: 100%;
    max-width: 350px;
    padding: 2em 1.5em;
    background-color: #ffffff;
    position: relative;
}
.form__x{
    position: absolute;
    right: 1em;
    font-size: 1.5rem;
    color: red;
    top: .8em;
    cursor: pointer;
    transition: trasnform 100ms ease;
}
.form__x:hover{
    transform: scale(1.1);
}
.form__title{
    margin-bottom: .5em;
}
.form__div{
    display: flex;
    flex-direction: column;
    margin-bottom: .8rem;
}
.form__div:nth-child(6){
    margin-bottom: 2em;
}
.form__label{
    position: relative;
    left: .8em;
}
.form__input{
    font-size: 1rem;
    font-weight: 100;
    padding: .5em .8em;
    border-radius: .2em;
    border: 1px solid #aaa;
    background-color: rgb(249, 255, 255);
}
.form__btn{
    width: 100%;
    padding: .8em;
    color: #ffffff;
    background-color: #555A88;
    transition: filter 100ms ease;
    font-size: 1rem;
}
.form__btn:hover{
  filter: brightness(1.2);
}